.face {
    height:36rem;
    width:30rem;
    border:1px solid black;
    background:tan;
    border-radius:15rem;
    positon:relative;

}
.center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
}


.eye {
    height:3rem;
    width:3rem;
    border-radius:2rem;
    background:white;  
}
.eye:first-child {
    transform:translate(-200%, 100%);
}
.eye:last-child {
    transform:translate(200%);
}
.eye:before {
    content:'';
    display:block;
    width:1.5rem;
    height:1.5rem;
    border:10px solid rgba(50,200,150,1);
    border-radius:2rem;
    background:black;
    position:fixed;
}
.eye:after {
    content:'';
    display:block;
    width:3rem;
    height:.8rem;
    background: tan;
    border-radius: 300px 48px 200px 20px;
    border-top:.3rem solid black;
    border-left:.2rem solid black;
    transform:translate(-10%,-100%);

}
.nose {
    height:6rem;
    width:3rem;
    background:rgba(210,180,140 .9);
}

