.face {
    height:36rem;
    width:30rem;
    border:1px solid black;
    background:tan;
    border-radius:15rem;
    positon:relative;
    overflow:hidden;

}
.center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
}


.eye {
    height:3rem;
    width:3rem;
    border-radius:2rem;
    background:white;  
}
.eye:first-child {
    transform:translate(-200%, 100%);
}
.eye:last-child {
    transform:translate(200%);
}
.eye:before {
    content:'';
    display:block;
    width:1.5rem;
    height:1.5rem;
    border:10px solid rgba(50,200,150,1);
    border-radius:2rem;
    background:black;
    position:fixed;
}
.eye:after {
    content:'';
    display:block;
    width:3rem;
    height:.8rem;
    background: tan;
    border-radius: 300px 48px 200px 20px;
    border-top:.3rem solid black;
    border-left:.2rem solid black;
    transform:translate(-10%,-100%);

}
.nose {
    height:6rem;
    width:3.5rem;
    background-color:rgba(210,160,100,1);
    margin-top:4rem;
/*  TL,TR,BR,BL */
    border-radius: 30px 30px 0px 0px; 
    
}
.nose:before {
    content:'\2022';
    font-size:3rem;
    text-align:center;
    color:rgba(0,0,0,.4);
    display:block;
    background-color:rgba(210,160,100,1);
    height:2.5rem;
    width:2.5rem;
    border-radius: 1rem;
    position:absolute;
    margin: 3.54rem -.6rem;  
}
.nose:after {
    content:'\2022';
    font-size:3rem;
    text-align:center;
    color:rgba(0,0,0,.4);
    display:block;
    background-color:rgba(210,160,100,1);
    height:2.5rem;
    width:2.5rem;
    border-radius: 1rem;
    position:absolute;
    margin: 3.54rem 1.6rem;  
}

.mouth {
    height:4rem;
    width:20rem;
    background:tan;
    overflow:hidden;
    transform:translate(-10rem, 9rem);
    
}
.mouth:before {
    display: block;
    content:'-';
    font-size:15rem;
    heigth:15rem;
    width:20rem;
    background-color:black;
    border-radius:100rem;
    position:absolute;
    transform:translate(0rem, -13rem);  
    overflow:hidden;
}

.mouth:after {
    display: block;
    content:'';
    font-size:2rem;
    height:3rem;
    width:5rem;
    background: red;
    border-radius:100rem;
    transform:translate(7.5rem,2.5rem) 
}

.hair {
    height: 15rem;
    width: 30rem;
    background-color:cornflowerblue;
    transform:translate(0rem, 0rem);
    position:relative;
/*    overflow:hidden;*/
    
}
.hair:after {
    content:'\25b2';
    font-size:5rem;
    color:tan;
/*    transform:translate(10rem, 2rem); */
    position:absolute;
    margin-left: 20rem;
    margin-top: 11rem;
    
}


.momtat {
    font-size: 1rem;
    font-color:green;
/*    background:red;*/
    height:3rem;
    width:2rem;
    position:absolute;
    transform:translate(3rem, 20rem);
}

.momtat:before {
    content: '\2764';
    font-size:3rem;
}
